<form class="d-flex" action="<%= search_path %>" method="get">
  <input class="form-control me-2" type="search" name="query" placeholder="キーワード検索" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">検索</button>
</form>