<div class="search-bar">
  <div class="container-fluid d-flex justify-content-end">
    <div class="d-flex">
      <form class="d-flex ms-auto" action="<%= search_path %>" method="get">
        <select class="form-select me-2" name="search_type" aria-label="Search Type">
          <option value="posts">ポスト検索</option>
          <option value="users">ユーザー検索</option>
        </select>
        
        <input class="form-control me-2" type="search" name="query" placeholder="キーワード検索" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">検索</button>
      </form>
    </div>
  </div>
</div>

<style>
  .search-bar {
    background-color: #001f3f;
    padding: 0;
    margin: 0;
  }

  .container-fluid {
    padding: 0;
    margin: 0;
  }

  .btn-outline-success {
    white-space: nowrap;
  }
</style>
