<h2 class="text-center mb-4" style="background-color: #001f3f; color: white;">フォロワー一覧</h2>
<div class="container">
  <% if @users.any? %>
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title"><%= user.name %></h5>
              <%= link_to 'マイページ', user_mypage_path(user), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">フォロワーはいません</p>
  <% end %>
</div>
