<footer class="text-center py-4" style="background-color: #001f3f; color: white;">
  <p>&copy; 2024 StudyShare. All rights reserved.</p>
  <a href="<%= about_path %>" style="color: #f5f5dc;">About</a>
</footer>